<div class="row">

  <div class="col-md-12">
    <h2><strong>Жанр</strong></h2>
    <hr class="hr">
    <h4>Кликнете на един или повече жанрове за да ги изберете</h4>
    <div class="genre-buttons">
      <!--GENRES-->
      <button type="button" class="btn btn-sm"
              selectGenre
              (selectedGenre)="filter($event)"
              *ngFor="let genre of genres"
              [attr.data-genre]="genre.title">
        {{genre.title}} &nbsp;
        <img src="./assets/img/cross.png">
      </button>
      <!--GENRES-->
    </div>
  </div>

</div>

<div class="row no-bg-color">

  <div class="col-md-6 gap-1">
      <h2><strong>Цена</strong></h2>
      <hr class="hr">
      <h4>Изберете цена от - до</h4>
      <!--SLIDER-->
      <div id="slider" (click)="getPrice();filter()"></div>
      <p>{{P}}
        <input type="text" id="amountMin" size="2" readonly>{{delimiter}}
        <input type="text" id="amountMax" size="2" readonly>
      </p>
      <!--SLIDER-->
  </div>

  <div class="col-md-6 gap-2">
    <h2><strong>Рейтинг</strong></h2>
    <hr class="hr">
    <h4>Изберете рейтинг</h4>
    <div class="stars">
      <input (click)="getRate($event.target);filter()" [attr.data-rate]="5" class="star star-5" id="star-5" type="radio"
             name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input (click)="getRate($event.target);filter()" [attr.data-rate]="4" class="star star-4" id="star-4" type="radio"
             name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input (click)="getRate($event.target);filter()" [attr.data-rate]="3" class="star star-3" id="star-3" type="radio"
             name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input (click)="getRate($event.target);filter()" [attr.data-rate]="2" class="star star-2" id="star-2" type="radio"
             name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input (click)="getRate($event.target);filter()" [attr.data-rate]="1" class="star star-1" id="star-1" type="radio"
             name="star"/>
      <label class="star star-1" for="star-1"></label>
    </div>
  </div>

</div>


<result [books]="booksResult" [count]="count"></result>

