<div class="row">
  <h1>Жанр</h1>
  <h5>Кликнете на един или повече жанрове за да ги изберете</h5>

  <div class="genre-buttons">
    <button type="button" class="btn btn-sm"
            selectGenre
            (selectedGenre)="genreFilter($event);result()"
            *ngFor="let genre of genres"
            [attr.data-genre]="genre.title">
            {{genre.title}} &nbsp;
            <img src="./assets/img/cross.png">
    </button>
  </div>

  <div class="col-md-6">
    <h1>Рейтинг</h1>
    <h5>Изберете рейтинг</h5>


    <div class="stars">
        <input (click)="rateFilter($event.target);result()" [attr.data-rate]="5" class="star star-5" id="star-5" type="radio" name="star"/>
        <label class="star star-5" for="star-5"></label>
        <input (click)="rateFilter($event.target);result()" [attr.data-rate]="4" class="star star-4" id="star-4" type="radio" name="star"/>
        <label class="star star-4" for="star-4"></label>
        <input (click)="rateFilter($event.target);result()" [attr.data-rate]="3" class="star star-3" id="star-3" type="radio" name="star"/>
        <label class="star star-3" for="star-3"></label>
        <input (click)="rateFilter($event.target);result()" [attr.data-rate]="2" class="star star-2" id="star-2" type="radio" name="star"/>
        <label class="star star-2" for="star-2"></label>
        <input (click)="rateFilter($event.target);result()" [attr.data-rate]="1"  class="star star-1" id="star-1" type="radio" name="star"/>
        <label class="star star-1" for="star-1"></label>
    </div>


  </div>

</div>

<result [books]="booksResult"></result>

