div.row {
  background-color: #eeeeee;
  margin-bottom: 8px;
}

hr.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d8d8d8;
  margin: 1px 0;
  padding: 0;
  width: 150px;
}

.ui-widget-header {
  background-color: #5CB85C !important;
}

.ui-slider .ui-slider-handle {
  width: 0 !important;
  height: 0 !important;
  display: none;
}

